* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	@include animate(all, $base_time / 2);
}

ul {
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
}

button {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

.container {
	font-family: sans-serif;
	margin: 0 auto;
	padding: $base-separation * 2;
}

.bg-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hidden {
	display: none;
}

.link {
	text-decoration: none;
	color: $primary-link-color;
	&:hover {
		color: $secondary-link-color;
		@include animate();
	}
}

.text-shadow {
	text-shadow: 1px 1px $primary-black;
}

.box-shadow {
	text-shadow: 1px 1px $primary-black;
}

.base-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.taxonomy {
	margin: $base-separation / 3;
	background-color: $primary-color;
	color: $primary-white;
	padding: $base-separation / 1.5;
	border-radius: 1rem;
	font-size: $base-separation * 1.7;
	font-weight: bolder;

	&:hover,
	&:focus {
		background-color: transparent;
		color: $primary-color;

		@include key_frame("taxonomy-animation", $base_time, 1);
	}
}

.btn {
	display: inline-block;
	background-color: transparent;
	padding: $base-separation $base-separation * 3;
	color: $third-black;
	border: 1px solid $primary-color;
	color: $primary-color;

	&:hover,
	&focus {
		background-color: $primary-color;
		color: $primary-white;
	}
}

.img-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba($primary-black, 0.5);
	box-shadow: inset 3px 3px 20px 0 black;

	&:hover {
		background-color: rgba($primary-black, 0.1);
	}
}

.sidebar-btn {
	font-size: $base-separation * 5;
	color: $primary-black;
	background-color: transparent;
	border: none;

	&:hover {
		color: $primary-white;
		outline: none;
	}

	&:focus {
		outline: none;
	}
}

.post-header {
	margin-bottom: $base-separation * 5;

	h1.post-title {
		a,
		span {
			font-size: 2.5rem;
			font-weight: lighter;
			color: $secondary-black;
			margin-bottom: $base-separation * 3;

			&:hover,
			&:focus {
				color: $primary-color;
			}

			&:after,
			&:before {
				content: "~";
				font-weight: bolder;
			}
		}
	}

	.post-meta {
		@extend .base-flex;
		justify-content: space-between;

		small {
			margin: 0 $base-separation * 2;

			&.categories {
				a.post-cat {
					@extend .taxonomy;
				}
			}
		}
	}
}

.post-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 5px solid $third-black;
	padding-bottom: 3 * $base-separation;

	small {
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		span {
			a.post-tag {
				@extend .taxonomy;
			}
		}

		svg {
			fill: $primary-color;
			margin: 0 $base-separation;
		}
	}
}

.search-form {
	.fields {
		display: flex;
		align-items: center;
		justify-content: stretch;
		background-color: $secondary-white;

		input {
			margin: 0;
			padding: $base-separation * 1.5;
			border: none;

			&:focus {
				outline: none;
				background-color: $secondary-white;
			}
		}

		button {
			padding: 0 $base-separation;
			font-size: $base-separation * 4;
			font-weight: bolder;
			border: none;
			flex-grow: 1;
			background: none;
			transform: rotate(100deg);

			&:hover {
				color: $primary-color;
			}
		}
	}
}
