@mixin animate($attr: all, $time: $base_time) {
	transition: $attr $time ease;
}

@mixin key_frame($name: "move-underline", $duration: $base_time, $count: 1) {
	@keyframes move-underline {
		0% {
			bottom: -5px;
		}

		100% {
			bottom: 0;
		}
	}

	animation-name: $name;
	animation-duration: $duration;
	animation-iteration-count: $count;
}
