/*
* ================
*   Theme Colors
* ================
*/
$primary-color: #312e81;
$secondary-color: #6d28d9;
$third-color: #2dd4bf;

// white colors

$primary-white: #f9fafb;
$secondary-white: #e5e7eb;
$third-white: #9ca3af;

// black colors

$primary-black: #111827;
$secondary-black: #1f2937;
$third-black: #374151;

// links

$primary-link-color: #1d4ed8;
$secondary-link-color: #60a5fa;

/*
* ================
*   Theme Time
* ================
*/

$base_time: 333ms;

/*
* ====================
*   Theme Dimensions
* ====================
*/

$base-separation: 7px;

$base-img-height: 400px;

$post-width: 800px;

$sidebar-width: 413px;

$main-width: 1024px;
