$primary-color: #1d4ed8;
$secondary-color: #3b82f6;

$showcase-overlay: #1d4fd86e;

$content-bg-color: #f1f5f9;

// text

$text-primary-color: #f3f4f6;

$link-primary-color: #bfdbfe;

$link-active-color: #3b82f6;

// shadow
$shadow-color: #000000;

// padding

$normal-padding: 5px;

// dimensions

$nav-height: 50px;

$content-width: 960px;

$show-case-height: 350px;
