form#custom_css_form {
	padding: 1rem;

	#editor-area,
	#theme_colors {
		display: flex;
		justify-content: start;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-bottom: 3rem;

		#theme_colors_palets {
			margin-left: 7rem;
			div {
				margin-bottom: 3rem;
			}
		}

		#editor-container {
			flex-grow: 1;
			margin-left: 3rem;

			max-width: 900px;
			min-width: 300px;
			height: 400px;
			position: relative;

			#css-editor {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				font-size: 15px;
			}
		}
	}

	#hidden-editor {
		display: none;
	}
}
