@import "base/variables";
@import "base/mixins";
@import "base/wordpress";
@import "base/config";
@import "base/functions";

header {
	// variables
	$height: 400px;
	$nav-height: 33px;

	margin-bottom: $base-separation;

	#showcase {
		@extend .bg-img;
		min-height: $height;
		position: relative;

		#showcase-area {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba($primary-color, 0.5);
			@extend .base-flex;
			flex-direction: column;
			color: $secondary-white;
			@extend .text-shadow;

			h1.shc-item {
				font-size: 6rem;
			}
		}
	}

	nav {
		position: relative;

		ul {
			@extend .base-flex;
			position: absolute;
			height: $nav-height * 1.5;
			top: -$nav-height * 1.5;
			margin: 0 auto;
			left: 0;
			right: 0;
			background: linear-gradient(to top, $primary-color 0%, #312e815d 60%);

			li {
				margin: 0 1rem;

				a {
					color: $primary-white;
					text-transform: uppercase;
					position: relative;

					&:hover,
					&:focus {
						color: $secondary-link-color;

						&:before {
							content: "";
							background-color: currentColor;
							position: absolute;
							padding: 2px;
							left: 0;
							right: 0;
							bottom: -7px;

							@include key_frame();
						}
					}
				}

				&.active {
					a {
						color: $secondary-link-color;
					}
				}
			}
		}
	}
}

main#container {
	font-family: sans-serif;
	max-width: 1024px;
	margin: 0 auto;
	padding: $base-separation * 2;

	#blog-posts {
		article.post-item {
			max-width: 800px;
			margin: 0 auto;
			margin-bottom: $base-separation * 13;
			text-align: center;
			color: $primary-black;

			a {
				color: $primary-color;

				&:hover {
					color: $secondary-color;
				}
			}

			header {
				margin-bottom: $base-separation * 5;

				h1.post-title {
					a {
						font-size: 2.5rem;
						font-weight: lighter;
						color: $secondary-black;
						margin-bottom: $base-separation * 3;

						&:hover,
						&:focus {
							color: $primary-color;
						}

						&:after,
						&:before {
							content: "~";
							font-weight: bolder;
						}
					}
				}

				.post-meta {
					@extend .base-flex;
					justify-content: space-between;

					small {
						margin: 0 $base-separation * 2;

						&.categories {
							a.post-cat {
								@extend .taxonomy;
							}
						}
					}
				}
			}

			.post-content {
				text-align: center;
				margin-bottom: $base-separation * 5;

				.post-attachment {
					@extend .bg-img;
					height: 400px;
					margin-bottom: $base-separation * 3;
					position: relative;

					div {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background-color: rgba($primary-black, 0.5);
						box-shadow: inset 3px 3px 20px 0 black;

						&:hover {
							background-color: rgba($primary-black, 0.1);
						}
					}
				}

				.post-excerpt {
					// position: relative;
					a {
						@extend .btn;
					}

					p {
						padding: $base-separation;
						line-height: $base-separation * 4;
						text-align: left;
					}
				}
			}

			footer {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 5px solid $third-black;
				padding-bottom: 3 * $base-separation;

				small {
					display: flex;
					align-items: center;
					justify-content: space-evenly;

					span {
						a.post-tag {
							@extend .taxonomy;
						}
					}

					svg {
						fill: $primary-color;
						margin: 0 $base-separation;
					}
				}
			}

			&.post-audio {
				.post-content {
					box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.7);

					&:hover {
						box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.3);
					}
				}
			}

			&.post-quote {
				.post-content {
					padding: $base-separation * 5;
					font-size: $base-separation * 3;
					line-height: $base-separation * 5;
					box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.3);
					background-color: rgba($third-black, 0.1);

					&:hover {
						box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.1);
					}
				}
			}

			&.post-video {
				.post-content {
					height: 400px;

					video,
					iframe,
					audio {
						width: 100%;
						height: 100%;
					}
					box-shadow: 1px 1px 7px 0 $primary-black;

					&:hover {
						box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.3);
					}
				}
			}
		}
	}
}
