#sidebars-area {
	max-width: 300px;
	width: 100%;
	padding: 10px;
	margin-right: 1rem;
	background-color: rgba(170, 170, 170, 0.1);
	border-radius: 3px;
	box-shadow: 1px 1px 1px 0 rgba(128, 128, 128, 0.3);

	label.sidebar-input {
		margin-bottom: 1rem;
		display: block;

		input {
			width: 100%;
			padding: 7px;
			border-radius: 3px;
			border-color: rgba(0, 0, 255, 0.3);

			&:focus {
				outline: none;
				border-color: rgba(0, 0, 255, 0.7);
			}
		}
	}
}

#notfound-view {
	width: 230px;
	height: 230px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid gray;
	margin: 3px 0;
}

#notfound_image_remover {
	margin-left: 2rem;
	border: 1px solid rgba(128, 128, 128, 0.3);
	padding: 10px 15px;
	background-color: #eee;
	cursor: pointer;
	color: rgba(0, 0, 255, 0.9);
}

#notfound_image_msg {
	color: red;
}
