@import "base/variables";
@import "base/mixins";
@import "base/wordpress";
@import "base/config";
@import "base/functions";

#sidebar {
	overflow-y: scroll;
	position: fixed;
	z-index: 9;
	background-color: $primary-black;
	top: 0;
	bottom: 0;
	right: 0;
	max-width: $sidebar-width;
	color: $secondary-white;
	padding: $base-separation * 3;
	@include key_frame("sidbar-animation", $base_time * 2, 1);

	//
	&::-webkit-scrollbar {
		width: $base-separation;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: $primary-color;
		outline: none;
	}

	&::-webkit-scrollbar-corner {
		border-radius: 50%;
	}

	//

	&.hidden {
		@include key_frame("sidbar-animation", $base_time * 5, 1);
	}

	button.sidebar-toggler {
		@extend .sidebar-btn;
		color: $third-white;
		margin-bottom: $base-separation * 2;
	}

	a {
		color: $third-white;
		padding: $base-separation / 2;

		&:hover {
			color: $third-color;
		}
	}

	.widget-item {
		margin-bottom: $base-separation * 1.5;
		margin-bottom: $base-separation * 3;

		ul {
			&.children {
				padding-left: $base-separation * 3;
			}
		}

		.widget-title {
			margin: $base-separation;
			background-color: $third-black;
			padding: $base-separation;
			@extend .radius;
		}

		ul,
		div {
			padding: $base-separation;
		}

		#profile {
			text-align: center;

			#profile_img {
				@extend .bg-img;
				height: 200px;
				width: 200px;
				border-radius: 50%;
				margin: 0 auto $base-separation * 2 auto;
				border: 1px solid $primary-color;

				&:hover {
					box-shadow: 1px 1px 50px 0 $primary-color;
					border: 1px solid $primary-color;
					@include animate(all, $base_time * 5);
				}
			}

			.fullname {
				margin-bottom: $base-separation * 2;
			}

			.social {
				a {
					margin: $base-separation $base-separation * 3;

					svg {
						fill: $third-white;
					}

					&:hover {
						svg {
							fill: $third-color;
						}
					}
				}
			}
		}
	}
}

header#header {
	// variables
	$height: 400px;
	$nav-height: 33px;

	margin-bottom: $base-separation;

	#showcase {
		@extend .bg-img;
		min-height: $height;
		position: relative;

		#showcase-area {
			button.sidebar-toggler {
				@extend .sidebar-btn;
				position: absolute;
				right: $base-separation * 1.3;
				top: $base-separation;
			}

			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba($primary-color, 0.5);
			@extend .base-flex;
			flex-direction: column;
			color: $secondary-white;
			@extend .text-shadow;

			h1.shc-item {
				font-size: 6rem;
			}
		}
	}

	nav {
		position: relative;

		ul {
			@extend .base-flex;
			position: absolute;
			height: $nav-height * 1.5;
			top: -$nav-height * 1.5;
			margin: 0 auto;
			left: 0;
			right: 0;
			background: linear-gradient(to top, $primary-color 0%, #312e815d 60%);

			li {
				margin: 0 1rem;

				a {
					color: $primary-white;
					text-transform: uppercase;
					position: relative;

					&:hover,
					&:focus {
						color: $secondary-link-color;

						&:before {
							content: "";
							background-color: currentColor;
							position: absolute;
							padding: 2px;
							left: 0;
							right: 0;
							bottom: -7px;

							@include key_frame();
						}
					}
				}

				&.active {
					a {
						color: $secondary-link-color;
					}
				}
			}
		}
	}
}

main#container {
	@extend .container;

	#posts-pagination {
		text-align: center;
		.pagination-title {
			margin-bottom: $base-separation * 3;
			color: $primary-black;
		}

		.nav-links {
			.page-numbers {
				display: inline-block;
				padding: $base-separation $base-separation * 2;
				font-size: $base-separation * 2.7;
				margin: $base-separation * 1.3;
				border: 1px solid rgba($primary-black, 0.3);
				font-weight: bold;

				&:hover {
					background-color: $primary-color;
					color: $primary-white;
				}
			}

			.dots {
				border: none;
				&:hover {
					background-color: transparent;
					color: black;
				}
			}

			.current {
				background-color: $third-white;
				color: $primary-black;
				border: none;

				&:hover {
					background-color: $third-white;
					color: $primary-black;
				}
			}
		}
	}

	// min-height: 50vh;
	#blog-posts {
		.archive-area {
			max-width: $post-width;
			margin: $base-separation * 3 auto $base-separation * 5 auto;

			.archive-title {
				color: $primary-black;
				b {
					color: $primary-color;
				}
			}

			.archive-description {
				color: $secondary-black;
				padding-left: $base-separation * 23;
			}
		}

		.search-area {
			max-width: $post-width;
			margin: $base-separation * 3 auto $base-separation * 5 auto;
			display: flex;
			justify-content: space-between;

			input {
				background-color: $secondary-white;
			}

			.search-title {
				color: $primary-black;
				b {
					color: $primary-color;
				}
			}
		}

		article.post-item {
			max-width: $post-width;
			margin: 0 auto;
			margin-bottom: $base-separation * 13;
			text-align: center;
			color: $primary-black;

			a {
				color: $primary-color;

				&:hover {
					color: $secondary-color;
				}
			}

			header {
				@extend .post-header;
			}

			.post-content {
				text-align: center;
				margin-bottom: $base-separation * 5;

				.post-attachment {
					@extend .bg-img;
					height: $base-img-height;
					margin-bottom: $base-separation * 3;
					position: relative;

					div {
						@extend .img-overlay;
					}
				}

				.post-excerpt {
					// position: relative;
					a {
						@extend .btn;
					}

					p {
						padding: $base-separation;
						line-height: $base-separation * 4;
						text-align: left;
					}
				}
			}

			footer {
				@extend .post-footer;
			}

			&.post-audio {
				.post-content {
					box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.7);

					&:hover {
						box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.3);
					}
				}
			}

			&.post-quote {
				.post-content {
					padding: $base-separation * 5;
					font-size: $base-separation * 3;
					line-height: $base-separation * 5;
					box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.3);
					background-color: rgba($third-black, 0.1);

					&:hover {
						box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.1);
					}
				}
			}

			&.post-video {
				.post-content {
					height: 400px;

					video,
					iframe,
					audio {
						width: 100%;
						height: 100%;
					}
					box-shadow: 1px 1px 7px 0 $primary-black;

					&:hover {
						box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.3);
					}
				}
			}

			&.post-gallery {
				overflow: hidden;
				.post-content {
					position: relative;

					.post-attachment {
						@include key_frame("gallery-animation", $base_time * 2, 1);
					}

					.gallery-overlay {
						@extend .img-overlay;

						@extend .base-flex;
						justify-content: space-between;

						span {
							@extend .base-flex;
							cursor: pointer;
							font-size: $base-separation * 4;
							justify-content: space-between;

							small {
								color: $primary-color;
							}

							&:hover {
								background-color: $primary-color;
								small.thumnail {
									@extend .bg-img;
									border-radius: 50%;

									display: inline-block;
									height: 100px;
									width: 100px;
									@include key_frame("thumnail-nav-item", $base_time * 2, 1);
								}
							}

							&.gallery-nav-left {
								border-top-right-radius: 50%;
								border-bottom-right-radius: 50%;

								small.gallery-nav-btn {
									margin-right: $base-separation;
								}
							}

							&.gallery-nav-right {
								border-bottom-left-radius: 50%;
								border-top-left-radius: 50%;

								small.gallery-nav-btn {
									margin-left: $base-separation;
								}
							}
						}
					}
				}
			}

			&.post-link {
				.post-content {
					box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.3);
					background-color: rgba($secondary-white, 0.5);

					&:hover {
						box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.1);
					}

					.post-url {
						padding: 3 * $base-separation;

						a {
							position: relative;
							background-color: rgba($third-black, 0.3);
							box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.7);
							padding: $base-separation * 2;
							border-radius: 50%;

							span {
								padding: $base-separation;
								position: absolute;
								right: 100px;
								top: 35%;
								@extend .radius;
								background-color: $primary-color;
								color: $primary-white;
								display: none;
							}

							svg {
								fill: $primary-color;
							}

							&:hover,
							&:focus {
								background-color: rgba($primary-color, 0.9);
								box-shadow: 1px 1px 7px 0 rgba($primary-black, 0.1);
								svg {
									fill: $primary-white;
								}

								span {
									display: inline;
									@include key_frame("link-hover-animation", $base_time * 3, 1);
								}
							}
						}
					}
				}
			}
		}
	}

	.single-post {
		header.single-post-header {
			text-align: center;
			@extend .post-header;

			.post-title {
				margin-bottom: $base-separation * 5;
			}
		}

		.content-area {
			padding: $base-separation;
		}

		footer.single-post-footer {
			margin-top: $base-separation * 5;
			@extend .post-footer;
		}

		#comments {
			margin: $base-separation * 5 0;

			h2.comments-title {
				margin: $base-separation * 5 0;
			}

			ol.comments-list {
				li.comment {
					margin: $base-separation * 3 0;

					ul.children {
						padding-left: $base-separation * 13;
					}

					article.comment-body {
						@extend .modexy-comment-item;
						max-width: $post-width;
						footer {
							* {
								margin-right: $base-separation;
							}
							display: flex;
							align-items: center;
							justify-content: space-between;
							flex-wrap: wrap;

							div.comment-author.vcard {
								display: flex;
								align-items: center;
								justify-content: start;
								margin-bottom: $base-separation;
							}
						}

						.comment-content {
							padding: $base-separation;
							padding-left: $base-separation * 7;
							color: $secondary-black;
						}

						.reply {
							text-align: right;

							.comment-reply-link {
								@extend .btn;
								font-weight: bolder;
								border: none;
								background-color: $secondary-white;

								&:hover {
									background-color: $third-white;
								}
							}
						}
					}
				}
			}

			h5.no-comments {
				margin: $base-separation * 3 0;
				color: rgb(121, 0, 0);

				svg {
					fill: rgb(121, 0, 0);
				}
			}

			#comments-form {
				margin: $base-separation * 13 0;
				color: $primary-black;

				#reply-title {
					margin: $base-separation * 3 0;
				}

				form {
					.form-field {
						margin: $base-separation * 3 0;
						padding: $base-separation;

						.form-input {
							margin: $base-separation 0;
							display: block;
							padding: $base-separation * 1.3;
							border: none;
							width: 100%;
							border: 1px solid transparent;
							@extend .radius;
							box-shadow: 1px 1px 5px 0 rgba($primary-black, 0.3);

							&:focus {
								border: 1px solid rgba($primary-color, 0.3);
								background-color: $primary-white;
							}
						}
					}

					.form-submit {
						#submit {
							cursor: pointer;
							@extend .btn;
							font-size: $base-separation * 2.3;
							font-weight: bolder;
						}
					}
				}
			}
		}
	}

	.not-found-area {
		.title {
			display: block;
			font-size: $base-separation * 5;
			text-align: center;
			font-weight: 900;
		}

		.image {
			margin: $base-separation * 3 auto 0 auto;
			height: 300px;
			width: 300px;
			@extend .bg-img;
		}
	}

	.page {
		color: $primary-black;

		.page-title {
			border-left: 5px solid $third-black;
			padding: $base-separation * 3 $base-separation * 5;
			margin-bottom: $base-separation * 9;
		}

		.page-content {
			padding: $base-separation * 3;
		}
	}
}

footer#footer {
	background-color: $secondary-black;
	padding: $base-separation * 3;
	color: $secondary-white;

	a {
		color: $secondary-link-color;

		&:hover,
		&:focus {
			color: $third-color;
		}
	}

	.container {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-wrap: wrap;
		max-width: $main-width * 1.5;

		.footer-block {
			margin: $base-separation * 2 $base-separation;

			#footer-menu {
				li {
					margin-bottom: $base-separation * 3;
				}
			}
		}
	}
}
