form#custom_css_form {
  padding: 1rem;
}
form#custom_css_form #editor-area,
form#custom_css_form #theme_colors {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
form#custom_css_form #editor-area #theme_colors_palets,
form#custom_css_form #theme_colors #theme_colors_palets {
  margin-left: 7rem;
}
form#custom_css_form #editor-area #theme_colors_palets div,
form#custom_css_form #theme_colors #theme_colors_palets div {
  margin-bottom: 3rem;
}
form#custom_css_form #editor-area #editor-container,
form#custom_css_form #theme_colors #editor-container {
  flex-grow: 1;
  margin-left: 3rem;
  max-width: 900px;
  min-width: 300px;
  height: 400px;
  position: relative;
}
form#custom_css_form #editor-area #editor-container #css-editor,
form#custom_css_form #theme_colors #editor-container #css-editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 15px;
}
form#custom_css_form #hidden-editor {
  display: none;
}
