form {
  padding: 1rem;
}
form #editor-area {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
}
form #editor-area #editor-container {
  flex-grow: 1;
  margin-left: 3rem;
  max-width: 900px;
  min-width: 300px;
  height: 400px;
  position: relative;
}
form #editor-area #editor-container #css-editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 15px;
}
form #hidden-editor {
  display: none;
}
